<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Author</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h3>Author Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Author</p>
    <form action="#" th:action="@{/author/save}"
          th:object="${authors}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{author_name}"
               class="form-control mb-4 col-4" placeholder="Author name">
        <input type="text" th:field="*{description}"
               class="form-control mb-4 col-4" placeholder="Description">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>

</body>
</html>

