<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Book</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h3>Book Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Book</p>
    <form action="#" th:action="@{/books/save}"
          th:object="${books}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
Book Name:
        <input type="text" th:field="*{book_name}"
               class="form-control mb-4 col-4" placeholder="Book name">

        <input type="text" th:field="*{book_subname}"
               class="form-control mb-4 col-4" placeholder="Book subname">

        <input type="text" th:field="*{serial_name}"
               class="form-control mb-4 col-4" placeholder="Serial Name">

        <input type="text" th:field="*{books_author}"
               class="form-control mb-4 col-4" placeholder="Book's Author">

        <input type="text" th:field="*{books_publisher}"
               class="form-control mb-4 col-4" placeholder="Publisher">

        <input type="text" th:field="*{description}"
               class="form-control mb-4 col-4" placeholder="Description">

        <input type="text" th:field="*{isbn}"
               class="form-control mb-4 col-4" placeholder="ISBN">

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>
</body>
</html>

