<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/home" class="navbar-brand d-flex align-items-center"><strong>Home</strong></a>
                <button class="custom-button" @Click="showBooks(); getAllBook();">Books</button>
                <button class="custom-button" @Click="showAuthors(); getAllAuthor();">Authors</button>
                <button class="custom-button" @Click="showPublishers(); getAllPublisher();">Publishers</button>
                <form th:action="@{/logout}" method="post">
                    <input class="custom-button" type="submit" value="Sign Out" />
                </form>
            </div>
        </div>
    </header>
</head>
<body>
fdsfdsf
</body>
</html>