<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
<sec:authentication property="principal.username" var="user"/>
<sec:authentication property="principal.authorities" var="authorities"/>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1>WELCOME TO LIBRARY MANAGEMENT SYSTEM</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="album py-5 bg-light">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img th:src="@{/images/books.jpg}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/books/list}" class="btn btn-primary">BOOKS </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img th:src="@{/images/authors.jpg}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/author/list}" class="btn btn-primary">AUTHORS </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img th:src="@{/images/publishers.jpeg}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                    <a th:href="@{/publisher/list}" class="btn btn-primary">PUBLISHERS </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>

</html>