<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>BOOKS LIST</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h3>BOOKS LIST</h3>
    <hr>
    <a th:href="@{/books/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Add Book
    </a>
    <form th:action="@{/books/search}">
        <div class="form-row align-items-center">
            <div class="col">
                <!--<label class="sr-only" for="inlineFormInput">Filter: </label> -->
                <input type="text" name="keyword" class="form-control mb-10" id="inlineFormInput"
                       placeholder="Book Name/Serial Name/Author/ISBN" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Search</button>
                <a th:href="@{/books/list}" class="btn btn-warning"> Clear</a>
            </div>
        </div>
    </form>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>

                <th>Book Name</th>
                <th>Book Subname</th>
                <th>Serial Name</th>
                <th>Books Author</th>
                <th>Books Publisher</th>
                <th>Books description</th>
                <th>ISBN</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="tempBook : ${books}">

                <td th:text="${tempBook.book_name}"></td>
                <td th:text="${tempBook.book_subname}"></td>
                <td th:text="${tempBook.serial_name}"></td>
                <td th:text="${tempBook.books_author}"></td>
                <td th:text="${tempBook.books_publisher}"></td>
                <td th:text="${tempBook.description}"></td>
                <td th:text="${tempBook.isbn}"></td>
                <td>
                    <div sec:authorize="hasAnyRole('USER', 'ADMIN')">
                        <!-- Add "update" button/link -->
                        <a th:href="@{/books/showFormForUpdate(bookId=${tempBook.id})}"
                           class="btn btn-info btn-sm mb-1">
                            Update
                        </a>
                    </div>
                    <!-- Add "delete" button/link -->
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/books/delete(bookId=${tempBook.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this book?'))) return false">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>