<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>AUTHORS LIST</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <h3>AUTHORS LIST</h3>
    <hr>
    <a th:href="@{/author/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Add Author
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>

            <th>Author Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempAuthor : ${authors}">

            <td th:text="${tempAuthor.author_name}"/>
            <td th:text="${tempAuthor.description}"/>
            <td>
                <div sec:authorize="hasAnyRole('USER', 'ADMIN')">
                <!-- Add "update" button/link -->
                <a th:href="@{/author/showFormForUpdate(authorId=${tempAuthor.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                </div>
                <div sec:authorize="hasRole('ADMIN')">
                <!-- Add "delete" button/link -->
                <a th:href="@{/author/delete(authorId=${tempAuthor.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this author?'))) return false">
                    Delete
                </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>