<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>BOOKS LIST</title>
</head>

<body>

<div class="container">

    <h3>BOOKS LIST</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Book Name</th>
            <th>Book Subname</th>
            <th>Serial Name</th>
            <th>Books Author</th>
            <th>Books Publisher</th>
            <th>Books description</th>
            <th>ISBN</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBook : ${books}">

            <td th:text="${tempBook.id}"/>
            <td th:text="${tempBook.book_name}"/>
            <td th:text="${tempBook.book_subname}"/>
            <td th:text="${tempBook.serial_name}"/>
            <td th:text="${tempBook.books_author}"/>
            <td th:text="${tempBook.books_publisher}"/>
            <td th:text="${tempBook.description}"/>
            <td th:text="${tempBook.isbn}"/>
            <td>
                <!-- Add "update" button/link -->
                <a th:href="@{/books/showFormForUpdate(bookId=${tempBook.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <!-- Add "delete" button/link -->
                <a th:href="@{/books/delete(bookId=${tempBook.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this book?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>